.heading {
  max-width: 1600px;
  // height: 600px;
  height: 400px;
  margin: 0 auto;
  margin-top: 80px;
  // padding-top: 200px;
  // padding-bottom: 200px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/background-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

.heading-title {
  margin-bottom: 30px;

  color: $primary-white-color;

  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.heading-description {
  margin: 0 auto;
  // width: 696px;
  // width: 360px;
  @media screen and (min-width: 480px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
  }
}
