.page-header {
  background-color: $primary-white-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Main nav */

.main-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

/* Logo */

.header-studio {
  color: $tertiary-text-color;
}

.logo {
  display: flex;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: $accent-color;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* Menu nav */

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .item:not(:last-child) {
    margin-right: 50px;
  }
  .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    transition: color $animation-duration $timing-function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
    &.current {
      color: $accent-color;
    }
  }
}

.link.current::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: $accent-color;
  border-radius: 2px;
}

.menu-nav,
.contacts-nav {
  .link {
    font-style: medium;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
}

/* Contacts nav */

.contacts-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
  }

  align-items: center;
  margin-left: auto;
  .link {
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    display: flex;
    align-items: center;

    fill: $primary-text-color;
    color: $primary-text-color;
  }
  .item + .item {
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
      margin-top: 0;
    }
    margin-top: 10px;
  }
}

.contacts-icon {
  margin-right: 10px;

  transition: color $animation-duration $timing-function;
}

.contacts-nav .link {
  &:hover,
  &:focus,
  &:hover .contacts-icon,
  &:focus .contacts-icon {
    color: $accent-color;
    fill: $accent-color;
  }
}

.page-header {
  &.portfolio {
    border-bottom: $page-header-portfolio-border;
  }
}

.mobile-nav {
  flex-direction: column;
  align-items: flex-start;
  .link.current::after {
    display: none;
  }

  .link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 40px;
    line-height: 1.17;
  }

  .item:not(:last-child) {
    margin-right: unset;
    margin-bottom: 36px;
  }
}

.mobile-contacts-nav {
  flex-direction: column;
  align-items: flex-start;
  margin-left: unset;
  margin-bottom: 64px;
  .item + .item {
    margin-left: 0;
  }

  .link {
    padding-top: 0;
    padding-bottom: 0;
  }

  svg {
    display: none;
  }

  .item:first-child .link {
    font-size: 40px;
    margin-bottom: 32px;
  }

  .item:last-child .link {
    font-size: 24px;
  }
}

.mobile-container {
  height: 100%;
}

.mobile-menu-wrap {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  text-decoration: none;
}

.menu-social-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
    ::after {
      content: '';
      position: absolute;
      height: 22px;
      width: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      right: -10px;
    }
  }
}

.menu-social {
  display: flex;
}

.menu-container {
  max-height: 60px;
  .menu-social,
  .mobile-contacts-nav,
  .mobile-nav {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container.is-open {
  max-height: unset;
  .menu-social,
  .mobile-contacts-nav,
  .mobile-nav {
    display: flex;
  }
  .logo {
    display: none;
  }
}

.menu-closed {
  display: flex;
}
